{% extends "registration/base.html" %}

{% load i18n jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block content %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <p class="login-box-msg fadeIn first">Welcome to FundHance's Admin Panel</p>
        
        <form action="{{ app_path }}" method="post">
            {% csrf_token %}
            
            {% if user.is_authenticated %}
                <div class="fadeIn first">
                    <div class="callout callout-danger">
                        <p>
                            {% blocktrans trimmed %}
                                You are authenticated as {{ username }}, but are not authorized to
                                access this page. Would you like to login to a different account?
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            {% endif %}
            
            {% if form.errors %}
                <div class="fadeIn first">
                    {% if form.username.errors %}
                        <div class="callout callout-danger">
                            <p>{{ form.username.label }}: {{ form.username.errors|join:', ' }}</p>
                        </div>
                    {% endif %}
                    {% if form.password.errors %}
                        <div class="callout callout-danger">
                            <p>{{ form.password.label }}: {{ form.password.errors|join:', ' }}</p>
                        </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="callout callout-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            
            <div class="fadeIn second">
                <input type="text" style="border-radius: 0.2rem;" name="username" id="login" class="form-control mb-2  fadeIn second" placeholder="{{ form.username.label }}" required>
            </div>
            
            <div class="fadeIn third">
                <input type="password" name="password" id="password" style="border-radius: 0.2rem;" class="form-control mb-2 fadeIn third" placeholder="{{ form.password.label }}" required>
            </div>
            
            <div class="fadeIn fourth">
                <button type="submit" style="border-radius: 0.2rem;" class="fadeIn fourth btn btn-dark btn-block">{% trans "Log in" %}</button>
            </div>
        </form>
        
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
            <div id="formFooter" class="fadeIn fourth">
                <a class="underlineHover" href="{{ password_reset_url }}">
                    {% trans 'Forgotten your password or username?' %}
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
